
  body {
  background-color: rgba(12, 83, 47, 0.486);
  }
  
 * {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  gap: 20px;
  width: 960px;
  margin: 0 auto;
}

img {
  width: 100%;
}
h2{font-size: larger;
  text-align: justify;
  margin: 10 px;
}
h1{font-size: x-large;
}header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width:300px;
}
main img {
  width:150px;
}

p {
  line-height: 1.5;
  text-align: justify;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  padding: 0 10px;
}

footer {
  display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    color: #fff;
}